@layer components {


    /* page.html */
    .ariom-page {

        .ariom-body {
            @apply flex-1;
        }

    }

    /* index.html */
    .ariom-index {

        .ariom-body {
            @apply flex-1;
        }
        
    }

    /* single.html, single-case-study.html */
    .ariom-single,
    .ariom-single-case-study {

        section.article-title {
            @apply relative;

            .image-placeholder {
                @apply absolute inset-0 justify-end items-end overflow-clip;

                div {
                    @apply scale-[20] -rotate-12 origin-bottom-right translate-x-32;
                }
            }

            .cover-bg { /* using this as an overlay instead */
                /* @apply z-20 !bg-transparent bg-gradient-to-r from-inkwell-inception via-75% to-[#1E1E1E50]; */
                @apply z-20 !bg-transparent bg-inkwell-eased;
            }

            .cover-inner {
                @apply container flex-col text-white z-40 gap-y-8;

                ul.breadcrumbs {
                    @apply flex flex-row gap-2 items-center p-0 m-0;

                    .major-link {
                        @apply text-lg font-light underline leading-loose;
                    }

                    .current-link {
                        @apply text-lg font-light leading-loose;
                    }
                }

                .wp-block-post-title {
                    @apply text-6xl font-normal m-0 leading-normal
                }

                .post-meta-details {
                    @apply flex-col lg:flex-row gap-2 items-start lg:items-stretch;

                    .post-terms {
                        @apply items-end drop-shadow-text font-light text-lg;
                    }
                }
            }
        }
    }

    /* single.html */
    .ariom-single {

        section.post-content {

            .container--narrow {
                @apply max-w-screen-lg;
            }

            .colophon {
                @apply py-12 border-b-2 ariom-border;

                div.wp-block-tailpress-blocks-inline-svg {
                    @apply flex justify-center items-center gap-2;
                }
            }

        }
    }

    /* single-case-study.html */
    .ariom-single-case-study {

        section.article-title {
            @apply min-h-[400px] relative;

            .cover-image {
                @apply w-full h-full object-none object-right;
            }
        }

        section.case-study-content {
            @apply bg-inkwell-inception text-white flex-1;
        }
        
    }

    /* home.html */
    body:not(.blog-1) .ariom-blog section.featured {
        @apply hidden;
    }
    
    body:not(.blog-1) .ariom-blog .ariom-body nav.categories-nav {
        @apply box-content pt-8 lg:pt-16 w-full h-8 relative;
    }

    .ariom-blog {
            
        .ariom-body {
            @apply flex-1;

            section.featured {
                
                .wp-block-post-featured-image {
                    @apply w-full overflow-hidden flex items-center justify-center relative rounded-xl;

                    &:before {
                        @apply absolute inset-2 content-[''] border-2 border-white border-solid rounded-lg;
                    }

                    img {
                        @apply w-full h-full object-cover object-center;
                    }
                }

                div.wp-block-group {
                    @apply gap-x-16 gap-y-6 justify-center;

                    .wp-block-post-terms {
                        a {
                            @apply text-lg leading-normal border-b-2 ariom-border;
                        }
                    }

                    .wp-block-post-title {
                        @apply text-5xl font-light m-0;
                    }

                    .wp-block-post-excerpt p {
                        @apply text-lg font-normal m-0;
                    }

                    .wp-block-post-date time {
                        @apply text-lg font-normal italic m-0;
                    }
                }
            }

            nav.navigation.categories-nav {
                @apply p-0 w-full h-12 overflow-x-auto overflow-y-clip relative;

                &::-webkit-scrollbar {
                    @apply hidden;
                }

                scrollbar-width:none;
                
                ul {
                    @apply flex-nowrap absolute left-0;
                    @apply w-screen md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
                    @apply py-0 pl-8 lg:pl-offset-lg xl:pl-offset-xl 2xl:pl-offset-2xl;
                    @apply menu-horizontal;

                    li {
                        @apply py-1 hover:bg-transparent active:bg-transparent focus:bg-transparent;

                        &:first-of-type {
                            @apply border-b-2 ariom-border;
                        }

                        &:last-of-type {
                            @apply pr-8;
                        }

                        a {
                            @apply text-lg font-normal leading-normal hover:bg-transparent active:bg-transparent active:text-primary focus:text-primary;
                        }
                    }
                }
            }

            section.posts {
                @apply py-8 lg:py-16 xl:py-24;

                ul.wp-block-post-template {
                    @apply lg:container !grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-16 justify-center;

                    li {
                        @apply relative flex flex-col gap-y-6;

                        .wp-block-post-featured-image {
                            @apply w-full min-h-64 max-h-64 overflow-hidden flex items-center justify-center relative rounded-xl;

                            &:before {
                                @apply absolute inset-2 content-[''] border-2 border-white border-solid rounded-lg;
                            }

                            img {
                                @apply w-full h-full object-cover object-center;
                            }
                        }

                        .wp-block-post-title {
                            @apply text-2xl font-normal m-0 leading-normal;
                        }

                        .wp-block-post-excerpt p {
                            @apply text-lg font-light m-0 leading-normal;
                        }

                        .post-date-details {
                            @apply gap-2;
                            
                            time {
                                @apply text-lg font-light  italic m-0;

                                &::after {
                                    @apply content-['.'];
                                }

                            }
                        }
                    }
                }

                .post-pagination {

                    nav.wp-block-query-pagination {
                        @apply lg:container gap-2 items-center justify-center;

                        .wp-block-query-pagination-numbers {
                            @apply flex flex-row gap-2 items-center;
                        }

                        .current {
                            @apply text-lg font-normal leading-none text-corona;
                        }

                        .page-numbers {
                            @apply text-lg font-normal leading-none;
                        }

                    }

                }
            }
        }
    }
    
    /* 404.html */
    .ariom-404 {

        main {
            @apply bg-torchlight text-black py-8;

            .wp-block-group {
                @apply gap-6 w-10/12 lg:w-5/12 mx-auto justify-center items-center;

                h2 {
                    @apply text-4xl lg:text-6xl font-medium m-0 text-center leading-normal;
                }

                h4 {
                    @apply text-xl lg:text-3xl font-normal m-0 text-center leading-snug;
                }

                p {
                    @apply text-lg font-light m-0 text-center leading-normal;
                }

                .wp-block-list {
                    @apply text-center list-none p-0 m-0;

                    li {
                        
                        a {
                            @apply text-lg  font-light underline;
                        }

                    }
                }


            }

        }

    }

}