@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'components/blocks.css';
@import 'components/features.css';
@import 'components/footer.css';
@import 'components/forms.css';
@import 'components/header.css';
@import 'components/layout.css';
@import 'components/typography.css';

@import 'pages/home.css';
@import 'pages/resume.css';

@layer base {

    :root {
        --ariom-primary: 77.27% 0.16 65.68;
        --ariom-secondary: 59.42% 0.121 66.54;
        --ariom-grey: 61.33% 0 0;
        --ariom-darkgrey: 37.91% 0 0;
    }

    html,
    body {
        height:100%;
    }

    body {
        @apply !font-sans;
    }

    /* header */
    .wp-block-site-logo {
        svg path {
            @apply !fill-white;
        }
    }

    .ariom-border {
        border-color:transparent;
        background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, var(--wp--preset--color--primary), var(--wp--preset--color--bisque));
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    section:not(.threejs-scene) {
        @apply relative max-w-[100vw] px-8 py-12 lg:pt-24 lg:pb-24 gap-8;

        & > :not(canvas) {
            @apply z-10;
        }

        canvas {
            @apply absolute top-0 left-0 z-0 w-full h-full;
        }

        /* h1 {
            @apply w-full m-0 text-center lg:text-left;
        } */
    }

    section.threejs-scene {

        div.cover-inner {
            @apply mx-0 max-w-full;
        }

    }

    .style-header {
        @apply bg-corona text-white p-4 mb-8 rounded-md;
    }

    .bg-inkwell-eased {
        background-image:linear-gradient(
            70deg,
            hsl(0, 0%, 12%) 0%,
            hsla(0, 0%, 12%, 0.994) 8%,
            hsla(0, 0%, 12%, 0.976) 15.4%,
            hsla(0, 0%, 12%, 0.948) 22.2%,
            hsla(0, 0%, 12%, 0.912) 28.6%,
            hsla(0, 0%, 12%, 0.87) 34.6%,
            hsla(0, 0%, 12%, 0.824) 40.4%,
            hsla(0, 0%, 12%, 0.775) 46.1%,
            hsla(0, 0%, 12%, 0.725) 51.7%,
            hsla(0, 0%, 12%, 0.676) 57.5%,
            hsla(0, 0%, 12%, 0.63) 63.4%,
            hsla(0, 0%, 12%, 0.588) 69.7%,
            hsla(0, 0%, 12%, 0.552) 76.4%,
            hsla(0, 0%, 12%, 0.524) 83.6%,
            hsla(0, 0%, 12%, 0.506) 91.4%,
            hsla(0, 0%, 12%, 0.5) 100%
        );
    }
}

@layer components {

    .image-placeholder {
        @apply flex items-center justify-center w-full h-full bg-corona;
    }
    
    .wp-block-cover__image--placeholder-image {
        @apply !z-0;
    }

}

@layer utilities {
    
    .small {
        @apply text-xs;
    }

    .tiny {
        @apply text-[8px];
    }
}