<!-- wp:group {"className":"min-h-screen ariom-page","layout":{"type":"flex","orientation":"vertical"}} -->
<div id="page" class="wp-block-group min-h-screen ariom-page ariom-404">
    
    <!-- wp:template-part {"slug":"header","theme":"ariom-theme","tagName":"header","className":"ariom-header"} /-->

    <!-- wp:group {"tagName":"main","layout":{"type":"default"},"className":"ariom-body"} -->
    <main id="content" class="wp-block-group ariom-body">

        <!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
            
            <!-- wp:heading -->
            <h2 class="wp-block-heading">Page Not Found</h2>
            <!-- /wp:heading -->
            
            <!-- wp:heading {"level":4} -->
            <h4 class="wp-block-heading">Sorry, the thing you were looking for doesn’t exist at this location.</h4>
            <!-- /wp:heading -->
            
            <!-- wp:paragraph -->
            <p>Why not? It could be any number of reasons. A typo? I moved/broke something? Aliens? Who knows? Sorry, not even me.</p>
            <!-- /wp:paragraph -->
            
            <!-- wp:paragraph -->
            <p>To get somewhere useful, try one of the following:</p>
            <!-- /wp:paragraph -->
            
            <!-- wp:list -->
            <ul class="wp-block-list">
            
                <!-- wp:list-item -->
                <li><a href="https://ariom.id.au.ddev.site/" data-type="page" data-id="36">Homepage</a></li>
                <!-- /wp:list-item -->
                
                <!-- wp:list-item -->
                <li><a href="https://ariom.id.au.ddev.site/?page_id=850" data-type="page" data-id="850">My Projects</a></li>
                <!-- /wp:list-item -->
                
                <!-- wp:list-item -->
                <li><a href="https://ariom.id.au.ddev.site/resume/" data-type="page" data-id="38">My Resume</a></li>
                <!-- /wp:list-item -->
                
                <!-- wp:list-item -->
                <li><a href="https://ariom.id.au.ddev.site/?page_id=849" data-type="page" data-id="849">The Blog</a></li>
                <!-- /wp:list-item -->

            </ul>
            <!-- /wp:list -->

        </div>
        <!-- /wp:group -->

    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"ariom-theme","tagName":"footer","className":"ariom-footer"} /-->

</div>
<!-- /wp:group -->