<!-- wp:group {"className":"min-h-screen ariom-page","layout":{"type":"flex","orientation":"vertical"}} -->
<div id="page" class="wp-block-group min-h-screen ariom-page ariom-index">
    
    <!-- wp:template-part {"slug":"header","theme":"ariom-theme","tagName":"header","className":"ariom-header"} /-->

    <!-- wp:group {"tagName":"main","layout":{"type":"flex","orientation":"vertical"},"className":"ariom-body"} -->
    <main id="content" class="wp-block-group ariom-body">
        
        <!-- wp:post-content /-->

    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"ariom-theme","tagName":"footer","className":"ariom-footer"} /-->

</div>
<!-- /wp:group -->