<div id="page" class="min-h-screen flex flex-col justify-between">

    <!-- wp:template-part {"slug":"header","theme":"ariom-theme","tagName":"header","className":"ariom-header"} /-->

    <!-- wp:group {"tagName":"main","layout":{"type":"default"},"className":"ariom-body"} -->
    <main id="content" class="wp-block-group ariom-body">           

        <!-- wp:post-featured-image /-->
        <!-- wp:post-title /-->
        <!-- wp:post-author {"showAvatar":false} /-->
        <!-- wp:post-date /-->
        <!-- wp:post-terms {"term":"category"} /-->

        <!-- wp:spacer {"height":"40px"} -->
        <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:post-content /-->

        <!-- wp:spacer {"height":"40px"} -->
        <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:post-terms {"term":"post_tag"} /-->

        <!-- wp:spacer {"height":"40px"} -->
        <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

    </main>
    <!-- /wp:group -->
     
    <!-- wp:template-part {"slug":"footer","theme":"ariom-theme","tagName":"footer","className":"ariom-footer"} /-->

</div>